@model IEnumerable<Website.Models.Product>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}

<section class="main-content">
    <div class="row">
        <div class="span9">
            <ul class="thumbnails listing-products">
                @foreach (var item in Model)
                {
                    <li class="span3">
                        <div class="product-box">
                            <span class="sale_tag"></span>
                            <a href="/Home/ProductDeltal/@Html.DisplayFor(modelItem => item.ProductID)"><img src="@item.Hinh" /></a><br />
                            <a href="/Home/ProductDeltal/@Html.DisplayFor(modelItem => item.ProductID)" class="title">@Html.DisplayFor(modelItem => item.ProductName)</a><br />
                            <a href="/Home/ProductDeltal/@Html.DisplayFor(modelItem => item.ProductID)" class="category">@Html.DisplayFor(modelItem => item.Option)</a>
                            <p class="price">@Html.DisplayFor(modelItem => item.Price) VND</p>
                        </div>
                    </li>
                }
            </ul>
            <hr>
            <br />
      
        </div>
        <div class="span3 col">
            <div class="block">
                <ul class="nav nav-list">
                    <li class="nav-header">SUB CATEGORIES</li>
                    <li><a href="products.html">Dòng Laptop Gaming</a></li>
                    <li><a href="products.html">Dòng Laptop Văn Phòng</a></li>
                    <li><a href="products.html">Phụ kiện</a></li>
                </ul>
                <br />
                <ul class="nav nav-list below">
                    <li class="nav-header">MANUFACTURES</li>
                    <li><a href="products.html">Asus</a></li>
                    <li><a href="products.html">Dell</a></li>
                    <li><a href="products.html">MSI</a></li>
                    <li><a href="products.html">Lenovo</a></li>
                    <li><a href="products.html">Acer</a></li>
                </ul>
            </div>
            <div class="block">
                <h4 class="title">
                    <span class="pull-left"><span class="text">Randomize</span></span>
                    <span class="pull-right">
                        <a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
                    </span>
                </h4>
                <div id="myCarousel" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="active item">
                          
                        </div>
                        <div class="item">
                         
                        </div>
                    </div>
                </div>
            </div>
            <div class="block">
                <h4 class="title"><strong>Best</strong> Seller</h4>
                <ul class="small-product">
                 
                </ul>
            </div>
        </div>
    </div>
</section>
