
@{
    ViewBag.Title = "Shopping_Success";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}

<h2 style="text-align:center">Đặt hàng thành công</h2>
<h4 style="text-align:center">Đơn hàng của bạn đã gửi Cửa hàng. Bạn sẽ nhận được hàng trong 2-3 ngày. Hẹn gặp lại. Cảm ơn bạn đã sử dụng dịch vụ!</h4>
<h2 style="text-align:center"><a class="btn btn-success" href="@Url.Action("Index","Home")">Quay lại trang chủ...</a></h2>

